<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Source-->
    <add key="monitoredEndpoint" value="https://rdmongosource.documents.azure.com:443/" />
    <add key="monitoredAuthKey" value="nzGClhLPMYExnb2KUZCA05vZPSQ63Y21ktGB4n4U0gdsHD3cCy7ul9A8suRHNXlxzqCQ6tKO2GaDaMRBoyr2yw==" />
    <add key="monitoredDBName" value="test" />
    <add key="monitoredContainerName" value="samplesource" />

    <!--Lease-->
    <add key="leaseEndpoint" value="https://rdsqlsink.documents.azure.com:443/" />
    <add key="leaseAuthKey" value="xnPzWC3Db0vo0Pme7oWlIzUIdCa8fdHq4WHdgtBbhP4JBUHEfFd3LduDF201xQbO4rj18LZai70c53ptondpRg==" />
    <add key="leaseDBName" value="testdb" />
    <add key="leaseContainerName" value="abc123" />

     <!--Destination-->
    <add key="destConnection" value="mongodb://rdmongonew:X3ba4Zke0UuidozduxdUtGpRchjexwREASM3oh8I9spKkw6jsBICL9bUXS3L2vWDNqJ1shj9JQ52Vcpkh537dg==@rdmongonew.mongo.cosmos.azure.com:10255/?ssl=true&amp;replicaSet=globaldb" />
    <add key="destDBName" value="test" />
    <add key="destContainerName" value="fintr2" />
    <add key="insertRetries" value="3" />
    <add key="maxItems" value="10" />
    <add key="isUpsert" value="true" />

    <!-- Transformation -->
    <!-- transformationType = "NONE, AGGRIGATION, SWAP"-->
    <add key="transformationType" value="SWAP" />
    <add key="sourceKeys" value="id,postDate" />    
    <add key="sourceKeyTransformation" value="{'Key':'postDate', 'TransformationType':'DATE', 'Format':'yyyy|MM' }" />
    <add key="delimiter" value="|" />
    <add key="destinationKey" value="pk" />
    <add key="swapKeyValues" value="[{'source':'account', 'destination':'acct'}, {'source':'accounting','destination':'acct'}, {'source':'actual','destination':'act'}, {'source':'address','destination':'addr'}]" />
    <add key="blobConnectionString" value="DefaultEndpointsProtocol=https;AccountName=rdteststore1;AccountKey=4uKfOXv5Ho7Qrs2s9KP4F+gwBimE9naZLRKcDIXfYq5yOMbqLnqcF2pu5Ksto3E1vQX5ercN80IVoi7EhIZnqQ==;EndpointSuffix=core.windows.net" />
    <add key="blobContainer" value="parsefailures1" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.1.0" newVersion="3.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.1.0" newVersion="3.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.Documents.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.3.2.0" newVersion="9.3.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>